<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth.Ultimate" version="4.3.0.13117" targetFramework="net45" />
  <package id="Portable.Licensing" version="1.1.0" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.0.2370" targetFramework="net45" />
  <package id="RavenDB.Database" version="2.0.2370" targetFramework="net45" />
  <package id="RavenDB.Embedded" version="2.0.2370" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.48" targetFramework="net45" />
  <package id="ServiceStack.Authentication.OpenId" version="3.9.49" targetFramework="net45" />
  <package id="ServiceStack.Authentication.RavenDB" version="3.9.44" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.48" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.48" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.48" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.48" targetFramework="net45" />
</packages>