<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Portable.Licensing" version="1.1.0" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.0.2330" targetFramework="net45" />
  <package id="ServiceStack" version="3.9.43" targetFramework="net45" />
  <package id="ServiceStack.Authentication.RavenDB" version="3.9.40" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.43" targetFramework="net45" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.43" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.43" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.43" targetFramework="net45" />
</packages>