<div class="jumbotron">
    <div class="alert" ng-show="notificationAlert.show" ng-class="{'alert-error': notificationAlert.type == 'error', 'alert-success': notificationAlert.type == 'success', 'alert-info': notificationAlert.type == 'info'}">
        {{notificationAlert.message}}
    </div>
    <form name="EditAccountForm" class="form-horizontal">
        <fieldset>
            <legend>Account details</legend>

            <div class="control-group" ng-class="{ error: EditAccountForm.UserName.$invalid }">
                <label class="control-label" for="Name">Login</label>
                <div class="controls">
                    <input type="text" name="UserName" class="input-large" ng-model="account.user.userName" placeholder="Login of the account..." required>
                    <span class="help-inline" ng-show="EditAccountForm.UserName.$dirty && EditAccountForm.UserName.$error.required">Please specifiy the accounts's user name.</span>
                </div>
            </div>

            <div class="control-group" ng-class="{ error: EditAccountForm.DisplayName.$invalid }">
                <label class="control-label" for="DisplayName">Name</label>
                <div class="controls">
                    <input type="text" name="DisplayName" class="input-large" ng-model="account.user.displayName" placeholder="The account's name...">
                </div>
            </div>

            <div class="control-group" ng-class="{ error: EditAccountForm.Email.$invalid }">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="email" name="Email" class="input-large" ng-model="account.user.primaryEmail" placeholder="Email address…" required>
                    <span class="help-inline" ng-show="EditAccountForm.Email.$error.email">This is not a valid email.</span>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-click="updateAccount(account.user)" ng-disabled="EditAccountForm.$invalid">Save changes</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>