<div class="jumbotron">
    <div class="alert" ng-show="notificationAlert.show" ng-class="{'alert-error': notificationAlert.type == 'error', 'alert-success': notificationAlert.type == 'success', 'alert-info': notificationAlert.type == 'info'}">
        {{notificationAlert.message}}
    </div>
    <form name="EditCustomerForm" class="form-horizontal">
        <fieldset>
            <legend>Customer details</legend>

            <div class="control-group" ng-class="{ error: EditCustomerForm.Name.$invalid }">
                <label class="control-label" for="Name">Name</label>
                <div class="controls">
                    <input type="text" name="Name" class="input-large" ng-model="customer.name" placeholder="Name of the customer..." required>
                    <span class="help-inline" ng-show="EditCustomerForm.Name.$dirty && EditCustomerForm.Name.$error.required">Please specifiy the customer's name.</span>
                </div>
            </div>

            <div class="control-group" ng-class="{ error: EditCustomerForm.Company.$invalid }">
                <label class="control-label" for="Company">Company</label>
                <div class="controls">
                    <input type="text" name="Company" class="input-large" ng-model="customer.company" placeholder="The customer's company...">
                </div>
            </div>

            <div class="control-group" ng-class="{ error: EditCustomerForm.Email.$invalid }">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="email" name="Email" class="input-large" ng-model="customer.email" placeholder="Email address…" required>
                    <span class="help-inline" ng-show="EditCustomerForm.Email.$error.email">This is not a valid email.</span>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-click="updateCustomer(customer)" ng-disabled="EditCustomerForm.$invalid">Save changes</button>
                <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            </div>
        </fieldset>
    </form>
</div>