<div class="jumbotron">
    <div class="alert" ng-show="notificationAlert.show" ng-class="{'alert-error': notificationAlert.type == 'error', 'alert-success': notificationAlert.type == 'success', 'alert-info': notificationAlert.type == 'info'}">
        {{notificationAlert.message}}
    </div>
    <form name="AddProductForm" class="form-horizontal">
        <fieldset>
            <legend>Add Product</legend>

            <div class="control-group" ng-class="{ error: AddProductForm.Name.$invalid }">
                <label class="control-label" for="Name">Name</label>
                <div class="controls">
                    <input type="text" id="Name" class="input-large" ng-model="product.name" placeholder="Name of the product..." required>
                </div>
            </div>

            <div class="control-group" ng-class="{ error: AddProductForm.Description.$invalid }">
                <label class="control-label" for="Description">Description</label>
                <div class="controls">
                    <input type="text" id="Description" class="input-large" ng-model="product.description" placeholder="The products's description...">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Product Features <i class="icon-plus-sign" title="Add new product feature" ng-click="addProductFeature()"></i></label>
                <div class="controls">
                    <ul class="unstyled">
                        <li ng-repeat="feature in product.productFeatures">
                            <div class="input-append">
                                <input class="input-large" type="text" ng-model="feature.Value" required>
                                <button class="btn" type="button" ng-click="removeProductFeature($index)"><i class="icon-remove-sign"></i></button>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

<div class="form-actions">
    <button type="submit" class="btn btn-primary" ng-click="addProduct(product)" ng-disabled="AddProductForm.$invalid">Add Product</button>
    <button type="button" class="btn" ng-click="cancel()">Cancel</button>
</div>
</fieldset>
    </form>
</div>
